*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    max-width: 1120px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    font-size: 18px;
    color: white;
}

a{
    text-decoration: none;
}

header a {
    color:white;
}

header a:hover{
    color: red;
}

.button {
    border: none;
    background-color: red;
    padding: 13px 25px;

}

.button a{
    color: white;
}

.button a:hover{
    color: white;
}

#section01{
    display: flex;
    justify-content: flex-start;
    gap:30px ;
    align-items: center;
    margin-bottom: 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(images/pexels-nappy-935949\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

#section01 div{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 36px;
}

#section02 h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    background-color: black;
    color: red;
}

p{
    line-height: 25px;
    margin-bottom: 15px;
}
#section02 p{
    line-height: 25px;
}

#section02 {
    background-color: black;
    color: white;
    margin-bottom: 15px;
}
#section03 h2{
    text-align: center;
    margin-bottom: 15px;
    background-color: black;
    color: red;
}


#section04 button {
    padding: 8px 12px;
    background-color: red;
    color: white;
    margin-bottom: 15px;
    justify-content: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    color: white;
} 
#footer h3{
    margin-bottom: 20px;
    color: red;
}
#section05 p{
    color: white;
    text-align: center;
}
#section04 ::placeholder{
    text-align: center;
}
.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
.image-container {
width: 1500px;
background-color: pink;
height: 300px;
clear: both;
position: relative;
-webkit-transition: left 2s;
-moz-transition: left 2s;
-o-transition: left 2s;
transition: left 2s;
}
.slide {
float: left;
margin: 0px;
padding: 0px;
position: relative;
}
#slide-1:target ~ .image-container {
left: 0px;
}
#slide-2:target ~ .image-container {
left: -500px;
}
#slide-3:target ~ .image-container {
left: -1000px;
}
.buttons {
position: relative;
top: -20px;
}
.buttons a {
display: inline-block;
height: 15px;
width: 15px;
border-radius: 50px;
background-color: red;
}
#section03{
margin-bottom: 40px;
}
#section03 p{
display: flex;
color: white;
justify-content: center;
margin-bottom: 15px;
} 
.container {
display: flex;
align-items: center;
justify-content: space-between;
}
.container > * {
margin-left: 0;
margin-right: 0;
}
.text-blk {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
line-height: 25px;
}

.responsive-cell-block {
min-height: 75px;
}

.responsive-container-block {
min-height: 75px;
height: fit-content;
width: 100%;
display: flex;
flex-wrap: wrap;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
justify-content: space-evenly;
}

.outer-container {
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
padding-left: 50px;
}

.inner-container {
max-width: 1320px;
flex-direction: column;
align-items: center;
margin-top: 50px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
}

.section-head-text {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 5px;
margin-left: 0px;
font-size: 25px;
font-weight: 700;
line-height: 48px;
color: red;
margin: 0 0 10px 0;
}

.section-subhead-text {
font-size: 18px;
color: white;
line-height: 35px;
max-width: 470px;
text-align: center;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 60px;
margin-left: 0px;
}

.img-wrapper {
width: 100%;
}

.team-card {
display: flex;
flex-direction: column;
align-items: center;
}

.social-media-links {
width: 125px;
display: flex;
justify-content: space-between;
}

.name {
font-size: 25px;
font-weight: 700;
color: rgb(102, 102, 102);
margin-top: 0px;
margin-right: 0px;
margin-bottom: 5px;
margin-left: 0px;
}

.position {
font-size: 25px;
font-weight: 700;
color: rgb(0, 135, 177);
margin-top: 0px;
margin-right: 0px;
margin-bottom: 50px;
margin-left: 0px;
}

.team-img {
width: 100%;
height: 100%;
}

.team-card-container {
width: 280px;
margin: 0 0 40px 0;
}

@media (max-width: 500px) {
.outer-container {
    padding: 10px 20px 10px 20px;
}

.section-head-text {
    text-align: center;
}
}
#section04{
    line-height: 50px;
}
